/* Wrapper to center spinner */
/* .spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
} */

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  z-index: 999;
}

/* Loader main container */
.loader {
  display: block;
  position: relative;
  width: 120px;
  height: 120px;
  perspective: 400px;
}

/* Horizontal rotating elements */
.loader::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image:
    radial-gradient(circle 12px, #0056b3 100%, transparent 0),
    radial-gradient(circle 12px, #0056b3 100%, transparent 0),
    linear-gradient(#0056b3 60px, transparent 0),
    linear-gradient(#0056b3 60px, transparent 0);
  background-repeat: no-repeat;
  background-size: 24px 24px, 24px 24px, 40% 3px, 40% 3px;
  background-position: left center, right center, left center, right center;
  transform-origin: center center;
  animation: rotateY 1s linear infinite;
}

/* Vertical rotating elements */
.loader::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image:
    radial-gradient(circle 12px, #ccc 100%, transparent 0),
    radial-gradient(circle 12px, #ccc 100%, transparent 0),
    linear-gradient(#ccc 60px, transparent 0),
    linear-gradient(#ccc 60px, transparent 0);
  background-repeat: no-repeat;
  background-size: 24px 24px, 24px 24px, 3px 40%, 3px 40%;
  background-position: top center, bottom center, top center, bottom center;
  transform-origin: center center;
  animation: rotateX 1s linear infinite;
}

@keyframes rotateY {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-180deg);
  }
}

@keyframes rotateX {
  0%,
  25% {
    transform: rotateX(0deg);
  }
  75%,
  100% {
    transform: rotateX(-180deg);
  }
}
