fastapi
uvicorn[standard]
httpx
motor
openai
aioredis
python-dotenv
pydantic
wikipedia-api
faiss-cpu
wikipedia
transformers
sentencepiece
torch
gTTS
google-cloud-texttospeech
sentence-transformers
nest_asyncio
numpy
indic-nlp-library
sacremoses