body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Loading CSS for Backend Calls*/
.typing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.typing span {
  width: 10px;
  height: 10px;
  background: #3498db;
  border-radius: 50%;
  display: inline-block;
  animation: blink 1.4s infinite both;
}

.typing span:nth-child(1) { animation-delay: 0s; }
.typing span:nth-child(2) { animation-delay: 0.2s; }
.typing span:nth-child(3) { animation-delay: 0.4s; }

@keyframes blink {
  0%, 80%, 100% { transform: scale(0); }
  40% { transform: scale(1.5); }
}

/* API Error CSS */
.backend-error {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  width: 100vw;
  height: 70vh;
}

.backend-error p {
  color: #0056b3;
  font-size: 16px;
}

/* Global Header CSS */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #0056b3;
  box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.25);
  padding: 1rem;
}

.brand {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header button {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.header .header-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ebf4fe;
}

.header button:hover {
  scale: 1.1;
}

.logo-img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 102, 255, 0.3);
}

/* Initial DashBoard Footer CSS*/
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-main-content {
  flex: 1;
}

.logged-out-footer {
  display: flex;
  flex-direction: column;
  color: #ebf4fe;
  background-color: #0056b3;
  padding: 20px 40px;
  box-shadow: 0 -3px 12px 2px rgba(0, 0, 0, 0.25);
}

.logged-out-footer .logo-brand-git {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.logged-out-footer .logo-brand-git .brand-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logged-out-footer i {
  font-size: 26px;
  color: #ffffff;
  transition: color 0.3s, transform 0.3s;
  cursor: pointer;
}

.logged-out-footer i:hover {
  color: #000;
  transform: scale(1.2);
}

.logged-out-footer p {
  margin: 0;
  font-size: 14px;
  text-align: center;
  color: #ebf4fe;
}

/* User Logged In Footer */
.logged-in-footer {
  background-color: #0056b3;
  color: #ebf4fe;
  padding: 16px 12px;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  border-top: 2px solid #004494;
}

.logged-in-footer i {
  font-size: 1.5rem;
  margin-bottom: 4px;
}

.logged-in-footer p {
  margin: 0;
}
